.navbar {
    background-color: #333;
    overflow: hidden;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #00ff00;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-evenly;

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: rgb(62, 152, 194);
    color: white;
}

.body {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10%;
    background-image: url('https://i.ibb.co/jMs1qV5/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bodyText {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar .icon {
    display: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    text-align: center;
    padding: 5%;
}

p, li {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

input {
    margin: 1%
}

#loggedInAs {
    padding: 5px;
    color: black;
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    font-size: 15px;
}

.infoList {
    list-style-type: none;
    margin-top: 5%;
}

.infoList li {
    margin-top: 2%;
    text-align: center;
}

#calLeft {
    font-size: 25px;
    margin-bottom: 5%;
}

.error {
    color: darkred
}

.center {
    text-align: center;
}

#zero {
    display: block;
    float: left;
    margin: 0%;
    font-size: 15px;
    margin-right: 1%;
}

#goal {
    display: block;
    float: right;
    margin: 0%;
    font-size: 15px;
    margin-left: 1%;
}

.progress {
    margin-top: 3px;
}

#progressbar {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 90%;
    position: relative;
    justify-content: space-evenly;

}

#addFood {
    border: none;
    box-shadow: #333;
    margin: 0;
    padding: 2%;
    text-align: left;
    float: left;
}

#date {
    float: right;
    font-size: 15px;

}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#searchBox {
    width: 45%;
    border-radius: 50px;
    margin-left: 0;
    padding: 4px;
}

.informatiom {
    font-size: 10px;
    margin: 10px
}

.calculator {
    border: 1px solid rgb(143, 138, 138);
    padding: 1%;
    margin: 3%
}

#calcResults {
    margin: 1%
}

.inputField {
    width: 7%;
    margin-top: 1px;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    width: 340px;
    margin-right: 2px;
}

